/* test */
img {
  height: 100px;
}

.grey {
  background-color: rgb(245, 245, 245);
  margin-top: 25px;
}

.row .row{
  padding-top: 10px;
  padding-bottom: 10px;
}

.top{
  margin-top: 25px;
}

h3{
  padding-bottom: 10px;
}

.round{
  background-color: #428bca;
  border-radius: 50%;
  padding: 5px;
}
